.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 575px) {
  .task_close_icon {
    margin: 10px 0 0 300px;
  }
}

@media screen and (min-width: 576px) {
  .task_close_icon {
    margin: 0 0 0 520px;
  }
}

.list_title {
  font-size: 20px;
}

.task_lists {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task_field {
  display: flex;
  line-height: 25px;
  margin-top: 10px;
  color: #172b4d;
  width: 200px;
}

.task_name {
  flex-basis: 100%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: solid 1px;
}

.add_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_task_btn {
  color: white;
  font-size: 12px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px #29477a;
  padding: 8px 8px;
  cursor: pointer;
  border-style: none;
  outline: none;
  background-color: rgb(66, 163, 247);
}

.add_task_btn:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.list_delete_btn {
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  outline: none;
  font-size: 12px;
  background-color: rgb(196, 82, 53);
  box-shadow: 0px 3px#29477a;
  padding: 8px 8px;
}

.list_delete_btn:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}
