.header_main {
  height: 100px;
  display: flex;
  justify-content: center;
}

.header_title {
  animation: lotation 6s linear infinite;
  font-family: Impact;
  line-height: 100px;
  font-size: 50px;
  color: rgb(70, 70, 70);
}

@keyframes lotation {
  33% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
