.main {
  max-width: 400px;
  height: 480px;
  margin: 0 auto;
  padding: 25px 40px;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}

.submit {
  margin-top: 20px;
  cursor: pointer;
  text-transform: none;
}

.toggleLetter {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  color: gray;
}
