.add_board {
  background-color: rgba(0, 0, 0, 0.08);
  max-height: 44px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.add_board :hover {
  opacity: 0.5;
}

.add_board_form {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.board_textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0 1px rgb(9 30 66 / 25%));
  resize: none;
}
.add_submit_form {
  display: flex;
  margin-top: 8px;
  line-height: 18px;
}
.cancel_icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

.add_list_submit {
  border-radius: 5px;
  background-color: #5aac44;
  border: none;
  color: white;
  cursor: pointer;
}
